extends baseEmail

block content
  p سلام #{firstName}
  p رمزعبور خود را فراموش کرده‌اید؟ از طریق لینک زیر می توانید رمزعبور خود را بازیابی کنید
  p #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') تغییر رمزعبور
  p در صورتی که رمزعبور خود را فراموش نکرده‌اید، ایمیل را نادیده بگیرید
