.u-margin-bottom-big {
  margin-bottom: 7rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-up-big {
  margin-top: 6rem;
}
.u-margin-up-small {
  margin-top: 3rem;
}

.u-bg-grey-light {
  background-color: #aaa;
}

.u-font-size-big {
  font-size: $big-font-size;
}

.u-font-size-default {
  font-size: $default-font-size;
}

.u-font-size-sm {
  font-size: $small-font-size;
}

.u-box-shadow-sm {
  box-shadow: $shadow-sm;
}
